Source: pdfium
Priority: optional
Maintainer: Ted Han <ted@documentcloud.org>
Build-Depends: build-essential, debhelper (>= 8.0.0), gyp (>= 0.1~svn1729-3ubuntu1), libfreetype6-dev (>= 2.5.2)
Standards-Version: 3.9.4
Section: libs
Homepage: https://code.google.com/p/pdfium/
Vcs-Git: https://pdfium.googlesource.com/pdfium/
Vcs-Browser: https://pdfium.googlesource.com/pdfium/

Package: libpdfium-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: The open source PDF library that powers
 Google Chrome's PDF reader.  This is a 3rd party
 package of PDFium by DocumentCloud.
