#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

NUMJOBS=2
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
        NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

override_dh_auto_build:
	GYP_GENERATORS=ninja GYP_DEFINES='pdf_enable_v8=0 clang=0' ./build/gyp_pdfium
	ninja -C out/Release pdfium_test


override_dh_auto_clean:
	if [ -d out ]; then rm -rf out; fi
	rm -rf Makefile
	find -name '*.mk' -exec rm {} \;
	find -name '*.pyc' -exec rm {} \;


override_dh_strip:

override_dh_installinfo:

%:
	dh $@
